@model LibraryManagementApp.Model.Genre

@{
    ViewData["Title"] = "Create Genre";
}

<h1>@ViewData["Title"]</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">List of Genres</a></li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!-- Add more fields as needed -->
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-success mt-2" />
            </div>
        </form>
    </div>
</div>
