@model LibraryManagementApp.Model.City

@{
	ViewData["Title"] = "Edit";
}

<h1>@ViewData["Title"]</h1>

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a asp-action="Index">List of cities</a></li>
		<li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
	</ol>
</nav>

<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<input type="hidden" asp-for="Id" />
			<div class="form-group">
				<label class="control-label">Name</label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Spremi" class="btn btn-outline-success mt-2" />
			</div>
		</form>
	</div>
</div>