@using LibraryManagementApp.Model

@model List<LibraryManagementApp.Model.City>

@{
	ViewData["Title"] = "Cities Page";
}

<div class="text-center">
	<h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div style="margin-top: 20px; margin-bottom: 10px;">
	<partial name="_CityFilter" model="new CityFilterModel()" />
</div>

<div id="table-container">
	<partial name="_IndexTable" model="new List<City>()" />
</div>

@section scripts {
	<script>
		function filterClients() {
			const formData = $("#tbl-clients").serialize();
			$.ajax({
				url: "@Url.Action("IndexAjax")",
				method: "POST",
				data: formData,
				success: (html) => {
					$("#table-container").html(html);
					// $("#table-container").replaceWith(html);
				},
			})
		}
		$(document).ready(() => filterClients());
	</script>
}