@model BookFilterModel

<form id="tbl-books">
    <div class="row justify-content-center">
        <div class="col-md-3">
            <input asp-for="Title" class="form-control" type="text" placeholder="Title" />
        </div>
        <div class="col-md-3">
            <input asp-for="Description" class="form-control" type="text" placeholder="Description" />
        </div>
        <div class="col-md-3">
            <input asp-for="Genre" class="form-control" type="text" placeholder="Genre" />
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-outline-info" onclick="filterBooks()">Filter</button>
            <a asp-action="Create" class="btn btn-success">New Book</a>
        </div>
    </div>
</form>
