@model LibraryManagementApp.Model.Author

<div class="form-group">
    <label class="control-label">First Name</label>
    <input asp-for="FirstName" class="form-control" />
    <span asp-validation-for="FirstName" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="control-label">Last Name</label>
    <input asp-for="LastName" class="form-control" />
    <span asp-validation-for="LastName" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="control-label">Gender</label>
    <input asp-for="Gender" class="form-control" />
    <span asp-validation-for="Gender" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="control-label">Email</label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>

<div class="form-group">
    <label class="control-label">Date of Birth</label>
    <div class="input-group date"
        data-provide="datepicker"
        data-date-format="@System.Threading.Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortDatePattern.ToLower()">
        <input asp-for="DateOfBirth" class="form-control" type="text" />
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
        </div>
    </div>
    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
</div>

<div class="form-group">
    <label class="control-label">Place of Birth</label>
    <select asp-for="PlaceOfBirthId" asp-items="ViewBag.PossibleCities" class="form-control"></select>
    <span asp-validation-for="PlaceOfBirthId" class="text-danger"></span>
</div>
<div class="form-group">
    <label class="control-label">Books</label>
    <select asp-for="AuthorBooks" asp-items="ViewBag.AllBooks" class="form-control" multiple></select>
    <span asp-validation-for="AuthorBooks" class="text-danger"></span>
</div>
<div class="form-group">
    <input type="submit" value="@ViewData["SubmitButtonText"]" class="btn btn-outline-success mt-2" />
</div>
