@model LibraryManagementApp.Model.Author

@{
    ViewData["Title"] = "Create author";
    ViewData["SubmitButtonText"] = "Create";
    // ViewData["SelectedBooks"] = new List<int>();
}

<h1>@ViewData["Title"]</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">List of authors</a></li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @await Html.PartialAsync("_AuthorForm")
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var selectedBooks = [];

            // Store selected books in an array
            $('select[multiple]').on('change', function () {
                selectedBooks = $(this).val() || [];
            });

            // Submit selected books along with the form
            $('form').submit(function () {
                var form = $(this);
                form.find('select[multiple]').val(selectedBooks);
            });
        });
    </script>
}
