@model LibraryManagementApp.Model.Author

@{
    ViewData["Title"] = "Edit author";
}

<h1>@ViewData["Title"]</h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">List of authors</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.FullName</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Mail</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Date of Birth</label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Grad</label>
                <select asp-for="PlaceOfBirthId" asp-items="ViewBag.PossibleCities" class="form-control"></select>
                <span asp-validation-for="PlaceOfBirthId" class="text-danger"></span>
            </div>
            <!-- Additional fields can be added here if needed -->
            <div class="form-group">
                <input type="submit" value="Save edit" class="btn btn-outline-success mt-2" />
            </div>
        </form>
    </div>
</div>
